<script id="channel-template-main" type="text/x-handlebars-template">
	<header>
		<div class="triangles">
			<span class="triangle triangle-green"></span>
			<span class="triangle triangle-red"></span>
		</div>
		<span class="title">{{title}} -</span>
		<div class="switcher">
			<span class="orgs">Top Organisations</span>
			<span class="advs">Top Advertisers</span>
			<span class="triangle triangle-white"></span>
		</div>
		<ul class="options">
			<li data-type="WoW">WoW</li>
			<li data-type="MoM">MoM</li>
			<li data-type="QoQ">QoQ</li>
			<li data-type="YoY">YoY</li>
		</ul>
		<a href="widgets/channels/main/export/{{title}}?category={{category}}" class="export" target="blank">Export</a>
	</header>
	<div class="rows">
		{{#each data}}
			<div class="row">
				<div class="number">{{rank1}}</div>
				<div class="movement"><span class="{{change}}"></span></div>
				<div class="name">
					<span class="title">Name of {{../category_name}}</span>
					<span class="name">{{name}}</span>
				</div>
				<div class="last_week">
					<span class="title">Last {{../timeframe}}</span>
					<span class="spend">${{billed_spend2}}</span>
				</div>
				<div class="this_week">
					<span class="title">This {{../timeframe}}</span>
					<span class="spend">${{billed_spend1}}</span>
				</div>
			</div>
		{{/each}}
	</div>
	<div class="bottom-bar-left"></div>
	<div class="bottom-bar-right"></div>
</script>