<script id="publisher_tool_questionaire_note" type="text/x-handlebars-template">
    <tr class="note row" data-note-id="{{ANSWER_NOTE_ID}}" data-note-question-id="{{QUESTION_ID}}">
        <td class="cell three border-right"></td>
        <td class="cell seven">
            <span id="text">{{NOTE}}</span>
            <ul>
                <li><span class="user">by {{USER}} - {{DATE}}</span></li>
                <li><span class="edit btn" style="padding: 0 5px 0 0;">Edit</span></li>
                <li><span class="remove btn" style="padding: 0 5px 0 0;">Remove</span>
            </ul>
        </td>
    </tr>
</script>